@model eOgren.tblOgrenciDers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblOgrenciDers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OgrenciRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OgrenciRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DersRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DersRef)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Düzenle", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
