@model IEnumerable<eOgren.tblKullanici>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unvan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlusturulmaTarihi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unvan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlusturulmaTarihi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Düzenle", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
